* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #fffcf4;
}

/* ------- Common ------- */

.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0 41px;
  min-width: 118px;
  line-height: 50px;
  border-radius: 25px;
  background: #171100;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}

/* ------- Header ------- */

.header {
  padding: 36px 0 8px;
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
}

.header .body {
  display: flex;
  align-items: center;
}

.header .list {
  display: flex;
}

.header .list .item {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.nav {
  margin-left: auto;
}

.nav a {
  position: relative;
  color: #5f5b53;
  padding: 8px 21px;
}

.nav li.active a,
.nav a:hover {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 22px;
  bottom: 6px;
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}

.header .btn {
  min-width: 144px;
  margin-left: 49px;
  font-size: 1.6rem;
}
